.flyer {
  margin: auto;
  height: 22.5rem;
  aspect-ratio: 8.5/11;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.container p {
  margin-bottom: 0;
}

@media (width <= 640px) {

  .flyer {
    height: 12rem;
    margin-bottom: 0.6rem;
  }

  .container p {
    line-height: 1.3rem;
    width: 143px;
    margin: 0;
    margin-bottom: 0.3rem;
    text-align: center;
  }

}

/*       className="m-auto h-90 aspect-[8.5/11] bg-no-repeat bg-contain bg-center ">
 */